*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.title{
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    font-size: 2.5em;
}

#telaInicial{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 20px;
    width: 25em;
    height: 30em; 
    background-color: #00aeff;
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#telaInicial #altura,
#telaInicial #peso{
    width: 35%;
    height: 10%;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 40px;

    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #fff;
    font-size: 2em;
    color: #EEEEEE;
    text-align: center;
}

#altura:focus, #peso:focus{
    outline: 0;
}


#btnCalcular,
#btnRetornar{
    font-size: 1.8em;
    cursor: pointer;
    width: 80%;
    height: 10%;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 35px;
}

#btnCalcular{
    color: #00aeff;
    font-weight: 600;
}

#btnCalcular:hover,
#btnRetornar:hover{
    box-shadow: 5px 5px 0 rgba(116, 114, 114, 0.747);
}

/* TELA RESULTADO */

#telaResultado{
    display: none;
    flex-direction: column;
    justify-content: center;

    border-radius: 20px;
    width: 25em;
    height: 30em;
    background: linear-gradient(to top, #aeb1b4, #eef2f3);
}

.result{
    color: #3a7bd5;
    margin-top: 40px
}

#telaResultado #resultado, 
#telaResultado #pesoIdeal{
    height: 10%;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;

    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #3a7bd5;
    font-size: 2em;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

#btnRetornar{
    background-color: #3a7bd5;
    color: #EEEEEE;
}

#cor_class{
    height: 15px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);   
}
